appdirs==1.4.0
configparser==3.5.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.10.5
django-jsonview==1.0.0
django-toolbelt==0.0.1
djangorestframework==3.6.2
gunicorn==19.6.0
lmnotify==0.0.4
mysql==0.0.1
MySQL-python==1.2.5
oauthlib==2.0.1
packaging==16.8
psycopg2==2.6.2
pyparsing==2.1.10
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
static3==0.7.0
